/* DarkModeToggle.css */
.dark-mode-toggle {
    display: flex;
    align-items: center;
    color: #ffffff;
  }
  
  .dark-mode-toggle label {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .dark-mode-toggle input {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  /* Nuevo estilo del interruptor */
  .dark-mode-toggle .slider {
    position: relative;
    width: 60px;
    height: 30px;
    background-color: #555;
    border-radius: 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .dark-mode-toggle .slider:before {
    content: "";
    height: 20px;
    width: 20px;
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
  }
  
  .dark-mode-toggle input:checked + .slider {
    background-color: #6fcf97;
  }
  
  .dark-mode-toggle input:checked + .slider:before {
    transform: translateX(30px);
  }
  
  /* Nuevo estilo para el texto */
  .dark-mode-toggle span {
    padding: 0 5px; /* Ajusta el espaciado */
    z-index: 1; /* Coloca el texto sobre el slider */
  }
  
  .dark-mode-toggle input:checked + .slider + span {
    color: #000000; /* Color del texto para el modo diurno */
  }
  
  .dark-mode-toggle input:not(:checked) + .slider + span {
    color: #ffffff; /* Color del texto para el modo nocturno */
  }
  