.carousel-image {
  width: 100%;
  max-width: 450px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.carousel-item:hover .carousel-image {
  transform: scale(1.1, 1.1); /* Ajusta el valor según tus preferencias */
}
